<a href="https://colab.research.google.com/github/vasudevan-gomathy/Data_Processing/blob/main/Data_Processing_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The below are the steps involved in Data Processing

**Step 1: Importing the libraries**

In [18]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

**Step 2: Importing dataset**

In [2]:
df = pd.read_csv('/content/Data.csv')
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [5]:
df.shape

(10, 4)

**Step 3: Handling the missing data**

In [3]:
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [4]:
x = df['Age'].mean()
y = df['Salary'].mean()
df['Age'].fillna(x, inplace = True)
df['Salary'].fillna(y, inplace = True)

**Step 4: Encoding categorical data**

In [5]:
df['Purchased'].value_counts()

No     5
Yes    5
Name: Purchased, dtype: int64

In [8]:
label = LabelEncoder()
df['Purchased'] = label.fit_transform(df['Purchased'])
df.head()

   Country   Age        Salary  Purchased
0   France  44.0  72000.000000          0
1    Spain  27.0  48000.000000          1
2  Germany  30.0  54000.000000          0
3    Spain  38.0  61000.000000          0
4  Germany  40.0  63777.777778          1

**Step 5: Creating a dummy variable**

In [12]:
df = pd.get_dummies(df, columns = ['Country'])
df

,Age,Salary,Purchased,Country_France,Country_Germany,Country_Spain
0,44.000000,72000.000000,0,1,0,0
1,27.000000,48000.000000,1,0,0,1
2,30.000000,54000.000000,0,0,1,0
3,38.000000,61000.000000,0,0,0,1
4,40.000000,63777.777778,1,0,1,0
5,35.000000,58000.000000,1,1,0,0
6,38.777778,52000.000000,0,0,0,1
7,48.000000,79000.000000,1,1,0,0
8,50.000000,83000.000000,0,0,1,0
9,37.000000,67000.000000,1,1,0,0

**Step 6: Splitting the datasets into training sets and Test sets**

In [17]:
X = df.drop('Purchased', axis=1)
y = df['Purchased']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

**Step 7: Feature Scaling**

In [23]:
scaler = StandardScaler()
X = scaler.fit_transform(X)
print(X)

[[ 7.58874362e-01  7.49473254e-01  1.22474487e+00 -6.54653671e-01
  -6.54653671e-01]
 [-1.71150388e+00 -1.43817841e+00 -8.16496581e-01 -6.54653671e-01
   1.52752523e+00]
 [-1.27555478e+00 -8.91265492e-01 -8.16496581e-01  1.52752523e+00
  -6.54653671e-01]
 [-1.13023841e-01 -2.53200424e-01 -8.16496581e-01 -6.54653671e-01
   1.52752523e+00]
 [ 1.77608893e-01  2.52436679e-16 -8.16496581e-01  1.52752523e+00
  -6.54653671e-01]
 [-5.48972942e-01 -5.26656882e-01  1.22474487e+00 -6.54653671e-01
  -6.54653671e-01]
 [ 1.22124533e-16 -1.07356980e+00 -8.16496581e-01 -6.54653671e-01
   1.52752523e+00]
 [ 1.34013983e+00  1.38753832e+00  1.22474487e+00 -6.54653671e-01
  -6.54653671e-01]
 [ 1.63077256e+00  1.75214693e+00 -8.16496581e-01  1.52752523e+00
  -6.54653671e-01]
 [-2.58340208e-01  2.93712492e-01  1.22474487e+00 -6.54653671e-01
  -6.54653671e-01]]